<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact <%= item %></title>
</head>
<body>
    <%- include('./nav') %>
  <h1>Contact Information</h1>
  <p><strong>Name:</strong> <%= item.EmployeeName %></p>
  <p><strong>Role:</strong> <%= item.Role %></p>
  <a href="/staff">Back to Staff</a>
</body>
</html>