<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/app.css">
    <title>Document</title>
</head>
<%- include('./nav') %>
<body>
    <h1>Welcome to our Company!</h1>
   <P><%= welcome %></P> 
   <ul>
   <% staff.forEach((element,index) => { %>
    
    <a href="/<%= index %>">
    <li>
       <%= element.EmployeeName%>
    </li>
</a>
    
   <% }); %>
</ul>
</body>
</html>
