<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/app.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to are Company</h1>
    <p>We started in 1900 with just a little seed, and now we service all the plant companies in the world!</p>
</body>
</html>