<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/app.css">
    <title>Document</title>
</head>
<%- include('./nav') %>
<body>
    <h1> Staff </h1>
    <ul>
        <% staff.forEach(employee => { %>
          <li>
            <a href="contact/<%= employee.EmployeeName %>"><%= employee.EmployeeName %></a> - <%= employee.Role %>
          </li>
        <% }); %>
      </ul>
</ul>
</body>
</html>