 <section id="contact">
        <h2>Contact Information</h2>
        <p>
            <%= message %>
        </p>
    <ul>
        <% staff.forEach(element => { %>
        <li><%= element.EmployeeName%>:<%= element.Role%></li>
        <li>Phone:<a>+1 (543)228-2547</a></li>
        <li>Address: 4567 Main Street, Washington, USA</li>
       <% }); %>
    </ul>
