body {
    margin: 2;
    padding: 1;
    font-family: Arial, sans-serif;
    background-color:rgb(248, 210, 215);
    color: #101010;
}
nav {
    margin: 5;
    color: plum;
    background-color: plum;
    padding: 10px;
    border: 1px solid;
}

